<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head (pageTitle='Viewing a post')">
</head>
<body>

<nav th:replace="partials/partials :: navbar"></nav>
<br>
<main>
    <div class="container">
        <div class="card">
            <h1 class="card-header">Edit a Post</h1>
            <div class="card-body">
                <form th:action="@{/posts/{id}/edit (id = ${post.id})}" th:method="POST" th:object="${post}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" />
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea class="form-control" id="body" rows="3" cols="50" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
                <br>
                <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
                    <div class="form-group">
                        <button th:type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
<br>
<footer th:replace="partials/partials :: footer"></footer>

<script th:replace="partials/partials :: jquery-script"></script>
<script th:replace="partials/partials :: bootstrap-script"></script>
</body>
</html>